#
# Copyright (c) 2025 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: Next Build - Multiarch

on:
  workflow_dispatch:
    inputs: {}
  push:
    branches:
      - main

env:
  DIR_CHE_SERVER: che-server
  IMAGE_VERSION: next
  ORGANIZATION: docker.io/olexii4dockerid

jobs:

  build-images:
    runs-on: ubuntu-22.04
    continue-on-error: ${{ matrix.default == false }}
    strategy:
      fail-fast: false
      matrix:
        platform: [linux/amd64]
        default: [true]
        include:
          - platform: linux/arm64
            default: false
    steps:
      -
        name: "Checkout Che Server Next source code"
        uses: actions/checkout@v4
        with:
          path: ${{ env.DIR_CHE_SERVER }}
          ref: main
      -
        name: "Set up QEMU"
        uses: docker/setup-qemu-action@v3
      -
        name: "Set up Docker Buildx ${{ matrix.platform }}"
        uses: docker/setup-buildx-action@v3
      -
        name: "Cache Docker layers"
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      -
        name: "Login to Docker Hub"
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: "Build and push ${{ matrix.platform }}"
        uses: docker/build-push-action@v5
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          context: ./${{ env.DIR_CHE_SERVER }}
          file: ./${{ env.DIR_CHE_SERVER }}/build/dockerfiles/Dockerfile
          platforms: ${{ matrix.platform }}
          push: ${{ matrix.default == true }}
          provenance: false
          tags: ${{ env.ORGANIZATION }}/che-server:${{ env.IMAGE_VERSION }}
      -
        id: result
        name: "Build result outputs version"
        if: ${{ success() }}
        run: echo "${{ matrix.arch }}=${{ matrix.arch }}-next" >> $GITHUB_OUTPUT
